<form (ngSubmit)="onSubmit()" #f="ngForm">
  <div id="user-data" ngModelGroup="userData" #userData="ngModelGroup">
    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        class="form-control"
        ngModel
        name="email"
        required
        email
        #email="ngModel"
      />
      <span
        style="color: red"
        class="help-block"
        *ngIf="!email.valid && email.touched"
        >Please enter a valid <b><u>email</u></b
        >!</span
      >
    </div>
    <div class="form-group">
      <label for="subscription">Subscription</label>
      <select
        id="subscription"
        name="subscription"
        [(ngModel)]="defaultSubscription"
        #subscription="ngModel"
        required
        class="form-control"
      >
        <option value="basic">Basic</option>
        <option value="advanced">Advanced</option>
        <option value="pro">Pro</option>
      </select>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        name="password"
        ngModel
        password
        #password="ngModel"
        required
        class="form-control"
      />
      <span
        style="color: red"
        class="help-block"
        *ngIf="!password.valid && password.touched"
        >Please enter a valid <b><u>password</u></b
        >!</span
      >
    </div>
    <span style="color: red" class="help-block" *ngIf="!f.valid && f.touched"
      >Please fill the <b><u>form</u></b> correclty!</span
    >
  </div>
  <button class="btn btn-primary" type="submit" [disabled]="!f.valid">
    Submit
  </button>
</form>

<div *ngIf="formSubmitted">
  <h3>Form submitted</h3>
  <p>Email: {{ femail }}</p>
  <p>Subscription: {{ fsubscription }}</p>
  <p>Password: {{ fpassword }}</p>
</div>
