<div class="container">
  <div class="row">
    <h3>Assignment 1</h3>
    <app-assignment1></app-assignment1>
    <hr />
    <h3>Assignment 2</h3>
    <app-assignment2></app-assignment2>
    <hr />
    <h3>Assignment 3</h3>
    <app-assignment3></app-assignment3>
    <hr />
    <h3>Assignment 4</h3>
    <app-assignment4></app-assignment4>
    <hr />
    <h3>Assignment 5</h3>
    <app-assignment5></app-assignment5>
    <hr />
    <h3>Assignment 6</h3>
    <app-assignment6></app-assignment6>
    <hr />
    <h3>Assignment 7</h3>
    <app-assignment7></app-assignment7>
    <hr />
    <h3>Assignment 8</h3>
    <app-assignment8></app-assignment8>
    <hr />
  </div>
</div>
